<!--extentds-->
{% extends './common/baseForBack.html' %}

<!--title-->
{% block title %}二级后台管理{% endblock %}

<!--sp_header-->
{% block sp_header %}

{% endblock %}

<!--content-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">


                {% if status == "area" %}
                <li>
                    <a href="#wuye_keeper_manager">
                        物业人员管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#wuye_keeper_manager_add">物业管家新增</a></li>
                        <li><a href="#wuye_keeper_manager_search">物业管家查找</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if status == "mansion" %}
                <li>
                    <a href="#mansion_keeper_list">
                        公寓管家管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#mansion_keeper_add">公寓管家新增</a></li>
                        <li><a href="#mansion_keeper_search">公寓管家查询</a></li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    <a href="#source_manager">
                        房源管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#source_manager_submit">房源发布</a></li>
                        <li><a href="#source_manager_search">房源查找</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-offset-3 col-xs-9">
            {% if status == "area" %}

            <div class="section" id="wuye_keeper_manager">
                <div class="title-l1">物业人员管理</div>
                <div class="section-content">
                    <div class="section" id="wuye_keeper_manager_add">
                        <div class="title-l2">物业管家新增</div>
                        <div class="section-content">
                            <form class="form-horizontal" id="wuye_keeper_add_form" dest="{% url 'wuye_add' %}">
                                <div class="form-group">
                                    <label for="wuye_keeper_add_account" class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_account" name="second_manager_account">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_pw" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="wuye_keeper_add_pw" name="second_manager_pw">
                                    </div>
                                </div>
                                <input type="hidden" value="{{ user }}" name="second_manager_manager"/>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_xiaoqu" class="col-sm-2 control-label">所属小区</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="wuye_keeper_add_xiaoqu" name="second_manager_company">
                                            {% for i in community_list %}
                                                <option value="{{ i.name }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_name" class="col-sm-2 control-label">管家姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_name" name="second_manager_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_phone" class="col-sm-2 control-label">管家手机</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_phone" name="second_manager_phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-post">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section" id="wuye_keeper_manager_search">
                        <div class="title-l2">物业管家查找</div>
                        <div class="section-content">
                            <form class="form-inline" id="wuye_keeper_search_form" dest="{% url 'wuye_search' %}">
                                <div class="form-group">
                                    <label for="wuye_keeper_search_account" class="control-label">小区</label>
                                    <input type="text" class="form-control" id="wuye_keeper_search_account" name="second_manager_search_company">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-info btn-get" data-type="wuye-keeper">搜索</button>
                                </div>
                            </form>


                            <table class="table table-striped" data-tmpl="#wuye-keeper-edit">
                                <thead>
                                <tr>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>所属区域管理员</th>
                                    <th>所属小区</th>
                                    <th>管家姓名</th>
                                    <th>管家手机</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="wuye-keeper-search-result">
                                    {% for i in second_managers %}
                                        <tr data-target="{{i.user}}">
                                            <th>{{i.user}}</th>
                                            <th>{{i.pw}}</th>
                                            <th>{{i.manager}}</th>
                                            <th>{{i.company}}</th>
                                            <th>{{i.name}}</th>
                                            <th>{{i.phone}}</th>
                                            <th>{% if i.exist == True %}正在使用{% else %}已注销{% endif %}</th>
                                            <th>
                                                <button class="btn btn-default btn-edit">编辑</button>
                                                <button class="btn btn-danger btn-operate" data-type="cancel">注销</button>
                                                <button class="btn btn-success btn-operate" data-type="activate">激活</button>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            {% if status == "mansion" %}

            <div class="section" id="mansion_keeper_list">
                <div class="title-l1">公寓管家管理</div>
                <div class="section-content">
                    <div class="section" id="mansion_keeper_add">
                        <div class="title-l2">公寓管家新增</div>
                        <div class="section-content">
                            <form class="form-horizontal" id="masion_keeper_add_form" dest="{% url 'mansion_keeper_add' %}">
                                <div class="form-group">
                                    <label for="masion_keeper_add_account" class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_account" name="second_manager_account">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="masion_keeper_add_pw" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="masion_keeper_add_pw" name="second_manager_pw">
                                    </div>
                                </div>

                                <input type="hidden" value="{{ user }}" name="second_manager_manager"/>

                                <div class="form-group">
                                    <label for="masion_keeper_add_company" class="col-sm-2 control-label">所属公司</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select-listener" id="masion_keeper_add_company" name="second_manager_company">
                                            {% for i in second_managers %}
                                                {% if i.status == 'mansion' %}
                                                    <option value="{{ i.user }}">{{ i.user }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="masion_keeper_add_name" class="col-sm-2 control-label">管家姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_name" name="second_manager_name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="masion_keeper_add_phone" class="col-sm-2 control-label">管家手机</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_phone" name="second_manager_phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-post">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section" id="mansion_keeper_search">
                        <div class="title-l2">公寓管家查询</div>
                        <div class="section-content">
                            <!--<form class="form-inline" id="masion_keeper_search_form" dest="{% url 'mansion_keeper_search' %}">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="masion_keeper_search_account" class="control-label">公司*</label>-->
                                    <!--<input type="text" class="form-control" id="masion_keeper_search_account" name="second_manager_search_company">-->
                                <!--</div>-->

                                <!--<div class="form-group">-->
                                    <!--<button class="btn btn-info btn-get" data-type="mansion-keeper">搜索</button>-->
                                <!--</div>-->
                            <!--</form>-->


                            <table class="table table-striped" data-tmpl="#mansion-keeper-edit">
                                <thead>
                                <tr>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>所属业务经理</th>
                                    <th>所属公司</th>
                                    <th>管家姓名</th>
                                    <th>管家手机</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="mansion-keeper-search-result">
                                    {% for i in second_managers %}
                                        <tr data-target="{{i.user}}}">
                                            <th>{{i.user}}</th>
                                            <th>{{i.pw}}</th>
                                            <th>{{i.manager}}</th>
                                            <th>{{i.company}}</th>
                                            <th>{{i.name}}</th>
                                            <th>{{i.phone}}</th>
                                            <th>{% if i.exist == True %}正在使用{% else %}}已注销{% endif %}</th>
                                            <th>
                                                <button class="btn btn-default btn-edit">编辑</button>
                                                <button class="btn btn-danger btn-operate" data-type="cancel">注销</button>
                                                <button class="btn btn-success btn-operate" data-type="activate">激活</button>
                                            </th>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            <div class="section" id="source_manager">
                <div class="title-l1">房源管理</div>
                <div class="section-content">
                    <div class="section" id="source_manager_submit">
                        <div class="title-l2">房源发布</div>
                        <div class="section-content">
                            <a class="btn btn-success" href="/new_house">发布新的房源</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}

<!--sp_script-->
{% block sp_script %}


{% verbatim %}

<script id="wuye-keeper-edit" type="text/x-jquery-tmpl">
 <form class="form-horizontal" id="wuye_keeper_add_form" dest="/wuye_add/">
                                <div class="form-group">
                                    <label for="wuye_keeper_add_account" class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_account" name="second_manager_account" value="${user}" disabled>
                                        <input type="hidden" name="second_manager_account" value="${user}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_pw" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="wuye_keeper_add_pw" name="second_manager_pw" value="${pw}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="wuye_keeper_add_xiaoqu" class="col-sm-2 control-label">所属小区</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="edit_wuye_keeper_add_xiaoqu" name="second_manager_company">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_name" class="col-sm-2 control-label">管家姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_name" name="second_manager_name" value="${name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="wuye_keeper_add_phone" class="col-sm-2 control-label">管家手机</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="wuye_keeper_add_phone" name="second_manager_phone" value="${phone}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-post">保存</button>
                                    </div>
                                </div>
                            </form>
</script>

<script id="mansion-keeper-edit" type="text/x-jquery-tmpl">
<form class="form-horizontal" id="masion_keeper_add_form" dest="/mansion_keeper_add/">
                                <div class="form-group">
                                    <label for="masion_keeper_add_account" class="col-sm-2 control-label">账号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_account" name="second_manager_account" value="${user}" disabled>
                                        <input type="hidden" name="second_manager_account" value="${user}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="masion_keeper_add_pw" class="col-sm-2 control-label">密码</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="masion_keeper_add_pw" name="second_manager_pw" value="${pw}">
                                    </div>
                                </div>

                                <input type="hidden" class="form-control" id="edit_masion_keeper_add_xiaoqu" name="second_manager_manager">

                                <div class="form-group">
                                    <label for="masion_keeper_add_company" class="col-sm-2 control-label">所属公司</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="eidt_masion_keeper_add_company" name="second_manager_company" value="${company}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="masion_keeper_add_name" class="col-sm-2 control-label">管家姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_name" name="second_manager_name" value="${name}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="masion_keeper_add_phone" class="col-sm-2 control-label">管家手机</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="masion_keeper_add_phone" name="second_manager_phone" value="${phone}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-success btn-post">保存</button>
                                    </div>
                                </div>
                            </form>
</script>



<script id="house-search" type="text/x-jquery-tmpl">
<tr data-target="${pk}">
                                    <th>1</th>
                                    <th>2015-09-30</th>
                                    <th>古荡小区</th>
                                    <th>两室一厅</th>
                                    <th>3000/月</th>
                                    <th>2015-12-01</th>
                                    <th>haha</th>
                                    <th>haha</th>
                                    <th>有</th>
                                    <th class="hs-status">已发布</th>
                                    <th class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/editHouse?houseNumber=id">编辑</a></li>
                                            <li><a href="#" class="btn-operate" data-type="cancel">下架</a></li>
                                            <li><a href="#" class="btn-operate" data-type="activate">激活</a></li>
                                        </ul>
                                    </th>
                                </tr>

</script>

{% endverbatim %}

<script src="/js/jquery.tmpl.min.js"></script>


<script>
    ;(function(){
        var editUrlMap={
            "#mansion-keeper-edit":"{% url 'get_second_manager'%}",
            "#wuye-keeper-edit":"{% url 'get_second_manager'%}"
        };

        var cancelUrlMap={
            "#mansion-keeper-edit":"{% url 'second_manager_logout'%}",
            "#wuye-keeper-edit":"{% url 'second_manager_logout'%}"
        };


        var activateUrlMap={
            "#mansion-keeper-edit":"{% url 'second_manager_active'%}",
            "#wuye-keeper-edit":"{% url 'second_manager_active'%}"
        };

        //为新增form添加ajax
        $(document).delegate(".btn-post","click",function(e){
            e.preventDefault();

            var form = $(this).parents("form");
            var dest = form.attr("dest");
            var content=form.serialize();

            $.post(
                    dest,
                    content,
                    function(data){
                        if(data.code==1){
                            alert("保存成功！");
                        }else{
                            alert("保存失败！");
                        }
                    }
            )
                    .error(function(){
                        console.log("error");
                    });
        });

        //查询结果按钮相应 编辑弹框，别的只是发对应的请求

        //添加日期输入启动datetimepicker
        $('#source_manager_search_time').datepicker({  dateFormat: "yy-mm-dd" });

        var dialogOpts = {
            title:"编辑信息",
            width:"800",
            height:"500"
        };

        //编辑按钮，获取对应信息并添加到dialog
        $(document).delegate(".btn-edit","click",function(e){
            e.preventDefault();
            var _id=$(this).parents("tr").data("target");//该条目id
            var _tmplID=$(this).parents("table").data("tmpl");
            var _url=editUrlMap[_tmplID];

            $.get(
                    _url,//TODO:修改url
                    {id:_id},
                    function(data){
                        if(data.code==1){
                            console.log("get success");
                            //添加dialog
                            $(_tmplID).tmpl(data.context).dialog(dialogOpts);
                            if(_tmplID=="#wuye-keeper-edit"){
                                $("#edit_second_manager_company").append($.parseHTML($("select[name=second_manager_manager]").html()));
                            }
                            if(_tmplID=="#mansion-keeper-edit"){
                                $("#edit_masion_keeper_add_xiaoqu").append($.parseHTML($("select[name=second_manager_manager]").html()));
                            }
                        }else{
                            console.log("get failed");
                        }
                    }
            )
                    .error(function(){
                        console.log("error");
                    });
        });

        //下架/注销等按钮
        $(document).delegate(".btn-operate","click",function(e){
            e.preventDefault();
            var _id=$(this).parents("tr").data("target");//该条目id
            var _tmplID=$(this).parents("table").data("tmpl");
            var _url=$(this).data("type")==="activate"?activateUrlMap[_tmplID]:cancelUrlMap[_tmplID];

            $.post(
                    _url,
                    {id:_id},
                    function(data){
                        if(data.code==1){
                            console.log("post success");
                            //TODO: 修改对应的表格状态
                        }else{
                            console.log("post failed");
                        }
                    }
            )
                    .error(function(){
                        console.log("error");
                    });
        });

    })();

</script>

{% endblock %}
