<!--extentds-->
{% extends './common/baseForBack.html' %}

<!--title-->
{% block title %}一级后台管理{% endblock %}

<!--sp_header-->
{% block sp_header %}

{% endblock %}

<!--content-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">
                <li class="active">
                    <a href="#source-manager">
                        房源管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#source-manager-new">发布新房源</a></li>
                        <li><a href="#source-manager-myhouse">我的房源</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#keeper-list">
                        管家通讯录管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#keeper_add">管家通讯录新增</a></li>
                        <li><a href="#keeper_search">管家通讯录查询</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-offset-3 col-xs-9" id="lists">
            <div class="section" id="source-manager">
                <div class="title-l1">房源管理</div>
                <div class="section-content">
                    <div class="section" id="source-manager-new">
                        <div class="title-l2">发布房源</div>
                        <a class="btn btn-success" href="newHouse.html">发布新的房源</a>
                    </div>
                    <div class="section" id="source-manager-my">
                        <div class="title-l2">我的房源</div>
                        <div class="section-content">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>房源编号</th>
                                    <th>发布时间</th>
                                    <th>小区</th>
                                    <th>户型</th>
                                    <th>价格</th>
                                    <th>入住时间</th>
                                    <th>鉴定员/发布员</th>
                                    <th>经纪人/管家</th>
                                    <th>有无照片</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>1</th>
                                    <th>2015-09-30</th>
                                    <th>古荡小区</th>
                                    <th>两室一厅</th>
                                    <th>3000/月</th>
                                    <th>2015-12-01</th>
                                    <th>haha</th>
                                    <th>haha</th>
                                    <th>有</th>
                                    <th>已发布</th>
                                    <th class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>

                                        <ul class="dropdown-menu">
                                            <li><a href="#">下架</a></li>
                                            <li><a href="#">激活</a></li>
                                            <li><a href="#">导出</a></li>
                                            <li><a href="#">直接统计</a></li>
                                        </ul>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="keeper-list">
                <div class="title-l1">管家通讯录管理</div>
                <div class="section-content">
                    <div class="section" id="keeper_add">
                        <div class="title-l2">管家通讯录新增</div>
                        <div class="section-content">
                            <form class="form-horizontal" id="keeper_add_form">
                                <div class="form-group">
                                    <label for="keeper_add_account" class="col-sm-2 control-label">发布员账号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="keeper_add_account">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="keeper_add_name" class="col-sm-2 control-label">管家姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="keeper_add_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="keeper_add_phone" class="col-sm-2 control-label">手机号码</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="keeper_add_phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section" id="keeper_search">
                        <div class="title-l2">管家通讯录查询</div>
                        <div class="section-content">
                            <form class="form-inline" id="keeper_search_form">
                                <div class="form-group">
                                    <label for="keeper_search_company">公司</label>
                                    <input type="text" class="form-control" id="keeper_search_company" placeholder="公司">

                                </div>

                                <div class="form-group">
                                    <label for="keeper_search_name">发布员姓名</label>
                                    <input type="text" class="form-control" id="keeper_search_name" placeholder="发布员姓名">
                                </div>

                                <div class="form-group">
                                    <label for="keeper_search_account">发布员账号</label>
                                    <input type="text" class="form-control" id="keeper_search_account" placeholder="发布员账号">
                                </div>

                                <div class="form-group">
                                    <label for="keeper_search_pw">密码</label>
                                    <input type="password" class="form-control" id="keeper_search_pw" placeholder="密码">
                                </div>

                                <div class="form-group">
                                    <label for="keeper_search_keywords">关键字</label>
                                    <input type="text" class="form-control" id="keeper_search_keywords" placeholder="关键字">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">搜索</button>
                                </div>
                            </form>



                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>公司</th>
                                    <th>发布员姓名</th>
                                    <th>发布员账号</th>
                                    <th>密码</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>浙大公司</th>
                                    <th>张三</th>
                                    <th>1884351</th>
                                    <th>sjfkldsj24</th>
                                    <th>
                                        <button class="btn btn-default">编辑</button>
                                        <button class="btn btn-danger">注销</button>
                                        <button class="btn btn-success">激活</button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--sp_script-->
{% block sp_script %}

{% endblock %}