<!--extentds-->
{% extends './common/baseForBack.html' %}

<!--title-->
{% block title %}二级后台管理{% endblock %}

<!--sp_header-->
{% block sp_header %}

{% endblock %}

<!--content-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">
                <li class="active">
                    <a href="#source-manager">
                        房源管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#source-manager-new">发布新房源</a></li>
                        <li><a href="#source-manager-myhouse">我的房源</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-offset-3 col-xs-9" id="lists">
            <div class="section" id="source-manager">
                <div class="title-l1">房源管理</div>
                <div class="section-content">
                    <div class="section" id="source-manager-new">
                        <div class="title-l2">发布房源</div>
                        <a class="btn btn-success" href="{% url 'new_house' %}" target="_blank">发布新的房源</a>
                    </div>
                    <div class="section" id="source-manager-my">
                        <div class="title-l2">我的房源</div>
                        <div class="section-content">

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>房源编号</th>
                                    <th>发布时间</th>
                                    <th>小区</th>
                                    <th>户型</th>
                                    <th>价格</th>
                                    <th>入住时间</th>
                                    <th>鉴定员/发布员</th>
                                    <th>经纪人/管家</th>
                                    <th>有无照片</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="hs-list-wrapper">
                                <tr data-target="HZ001">
                                    <th>1</th>
                                    <th>2015-09-30</th>
                                    <th>古荡小区</th>
                                    <th>两室一厅</th>
                                    <th>3000/月</th>
                                    <th>2015-12-01</th>
                                    <th>haha</th>
                                    <th>haha</th>
                                    <th>有</th>
                                    <th class="hs-status">已发布</th>
                                    <th class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>

                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="btn-operate" data-type="cancel">下架</a></li>
                                            <li><a href="#" class="btn-operate" data-type="activate">上架</a></li>
                                            <li><a href="#" class="btn-operate" data-type="sold">售出</a></li>
                                            <li><a href="#" class="btn-edit">编辑</a></li>

                                            <!--<li><a href="#">导出</a></li>-->
                                            <!--<li><a href="#">直接统计</a></li>-->
                                        </ul>
                                    </th>
                                </tr>

                                {% for i in rooms %}
                                    <tr data-target="{{i.roomNumber}}">
                                        <th>{{i.roomNumber}}</th>
                                        <th>{{i.DateToLive}}</th>
                                        <th>{{i.area}}</th>
                                        <th>{{i.shi}}室{{i.ting}}厅{{i.wei}}卫</th>
                                        <th>{{i.rent}}/月</th>
                                        <th>{{i.DateToLive}}</th>
                                        <th>{{i.contactPerson}}</th>
                                        <th>{{i.contactPerson}}</th>
                                        <th>有</th>
                                        <th>
                                            {% if i.sold == true %}
                                                已售出
                                            {% elif i.exist == true %}
                                                已上架
                                            {% elif i.achieve == true %}
                                                待上架
                                            {% elif %}
                                                待编辑
                                            {% endif %}
                                        </th>
                                        <th class="btn-group">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>

                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="btn-operate" data-type="cancel">下架</a></li>
                                                <li><a href="#" class="btn-operate" data-type="activate">上架</a></li>
                                                <li><a href="#" class="btn-operate" data-type="sold">售出</a></li>
                                                <li><a href="#" class="btn-edit">编辑</a></li>

                                                <!--<li><a href="#">导出</a></li>-->
                                                <!--<li><a href="#">直接统计</a></li>-->
                                            </ul>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--sp_script-->
{% block sp_script %}

<script>
    ;(function(){
        //下架/注销等按钮
        $(document).delegate(".btn-operate","click",function(e){
            e.preventDefault();
            var _id=$(this).parents("tr").data("target");//该条目id
            var _url=$(this).data("type")==="activate"?"{% url 'roominfo_active' %}":($(this).data("type")==="cancel"?"{% url 'roominfo_logout' %}":"{% url 'roominfo_sold' %}");

            $.post(
                    _url,
                    {id:_id},
                    function(data){
                        if(data.code==1){
                            console.log("post success");
                        }else{
                            console.log("post failed");
                        }
                    }
            )
                    .error(function(){
                        console.log("error");
                    });
        });
    })();
</script>
{% endblock %}