<!--extentds-->
{% extends './common/baseForBack.html' %}

<!--title-->
{% block title %}二级后台管理{% endblock %}

<!--sp_header-->
{% block sp_header %}

{% endblock %}

<!--content-->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="70">
                <li class="active">
                    <a href="#source-manager">
                        房源管理
                    </a>
                    <ul class="second-level-menu">
                        <li><a href="#source-manager-new">发布新房源</a></li>
                        <li><a href="#source-manager-rent">租房房源</a></li>
                        <li><a href="#source-manager-sale">买房房源</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-offset-3 col-xs-9" id="lists">
            <div class="section" id="source-manager">
                <div class="title-l1">房源管理</div>
                <div class="section-content">
                    <div class="section" id="source-manager-new">
                        <div class="title-l2">发布房源</div>
                        <a class="btn btn-success" href="{% url 'new_house' %}" target="_blank">租房房源</a>
                        <a class="btn btn-success" href="{% url 'new_salehouse' %}" target="_blank">卖房房源</a>
                    </div>
                    <div class="section" id="source-manager-rent">
                        <div class="title-l2">租房房源</div>
                        <div class="section-content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>房源编号</th>
                                    <th>发布时间</th>
                                    <th>小区</th>
                                    <th>户型</th>
                                    <th>价格</th>
                                    <th>入住时间</th>
                                    <th>鉴定员/发布员</th>
                                    <th>经纪人/管家</th>
                                    <th>有无照片</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="hs-list-wrapper">
                                {% for i in rooms %}
                                    <tr data-target="{{i.info.roomNumber}}">
                                        <th>{{i.info.roomNumber}}</th>
                                        <th>{{i.info.create_time|date:"Y-m-d"}}</th>
                                        <th>{{i.info.addr_xiaoqu}}</th>
                                        <th>{{i.info.type_room}}室{{i.info.type_livingroom}}厅{{i.info.type_toilet}}卫</th>
                                        <th>{{i.info.price}}/月</th>
                                        <th>{{i.info.stay_intime|date:"Y-m-d" }}</th>
                                        <th>{{i.info.contactPerson}}</th>
                                        <th>{{i.info.contactPerson}}</th>
                                        <th>{% if i.info.have_image == True %}有{% else %}无{% endif %}</th>
                                        <th>
                                            {% if i.info.sold == True %}
                                                已下架
                                            {% elif i.info.exist == True %}
                                                已上架
{#                                            {% elif i.info.achieve == True %}#}
{#                                                待上架#}
                                            {% else %}
                                                待编辑
                                            {% endif %}
                                        </th>
                                        <th class="btn-group">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                {% if i.info.sold == True %}

                                                {% elif i.info.exist == True %}
                                                    <li><a href="#" class="btn-operate" data-type="sold">下架</a></li>
{#                                                    <li><a href="#" class="btn-operate" data-type="sold">售出</a></li>#}
                                                    <li><a href="/new_house/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>
{#                                                {% elif i.info.achieve == True %}#}
{#                                                    <li><a href="#" class="btn-operate" data-type="activate">上架</a></li>#}
{#                                                    <li><a href="/new_house/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>#}
                                                {% else %}
                                                    <li><a href="/new_house/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>
                                                {% endif %}





                                            </ul>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="section" id="source-manager-sale">
                        <div class="title-l2">买房房源</div>
                        <div class="section-content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>房源编号</th>
                                    <th>发布时间</th>
                                    <th>小区</th>
                                    <th>户型</th>
                                    <th>价格</th>
                                    <th>鉴定员/发布员</th>
                                    <th>经纪人/管家</th>
                                    <th>有无照片</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="hs-list-wrapper">
                                {% for i in salehouses %}
                                    <tr data-target="{{i.info.roomNumber}}">
                                        <th>{{i.info.roomNumber}}</th>
                                        <th>{{i.info.create_time|date:"Y-m-d"}}</th>
                                        <th>{{i.info.addr_xiaoqu}}</th>
                                        <th>{{i.info.type_room}}室{{i.info.type_livingroom}}厅{{i.info.type_toilet}}卫</th>
                                        <th>{{i.info.price}}万元</th>
                                        <th>{{i.info.contactPerson}}</th>
                                        <th>{{i.info.contactPerson}}</th>
                                        <th>{% if i.picture == True %}有{% else %}无{% endif %}</th>
                                        <th>
                                            {% if i.info.sold == True %}
                                                已下架
                                            {% elif i.info.exist == True %}
                                                已上架
{#                                            {% elif i.info.achieve == True %}#}
{#                                                待上架#}
                                            {% else %}
                                                待编辑
                                            {% endif %}
                                        </th>
                                        <th class="btn-group">
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                {% if i.info.sold == True %}

                                                {% elif i.info.exist == True %}
                                                    <li><a href="#" class="btn-operate" data-type="salesold">下架</a></li>
{#                                                    <li><a href="#" class="btn-operate" data-type="sold">售出</a></li>#}
                                                    <li><a href="/new_salehouse/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>
{#                                                {% elif i.info.achieve == True %}#}
{#                                                    <li><a href="#" class="btn-operate" data-type="activate">上架</a></li>#}
{#                                                    <li><a href="/new_house/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>#}
                                                {% else %}
                                                    <li><a href="/new_salehouse/?roomNumber={{ i.info.roomNumber }}" class="btn-edit">编辑</a></li>
                                                {% endif %}





                                            </ul>
                                        </th>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!--sp_script-->
{% block sp_script %}

<script>
    ;(function(){
        //下架/注销等按钮
        $(document).delegate(".btn-operate","click",function(e){
            e.preventDefault();
            var _id=$(this).parents("tr").data("target");//该条目id
{#            var _url=$(this).data("type")==="activate"?"{% url 'roominfo_active' %}":($(this).data("type")==="cancel"?"{% url 'roominfo_logout' %}":"{% url 'roominfo_sold' %}");#}


            var _url=$(this).data("type")==="sold"?"{% url 'roominfo_sold' %}":"{% url 'salehouse_sold' %}"

            $.post(
                    _url,
                    {roomNumber:_id},
                    function(data){
                        if(data.code==1){
{#                            console.log("post success");#}
                            alert("操作成功！");
                        }else{
                            console.log("post failed");
                            alert("操作失败！");

                        }
                    }
            )
                    .error(function(){
                        alert("发送失败！");
                    });
        });
    })();
</script>
{% endblock %}