<!DOCTYPE html>
<html>
<head lang="en">

    <!--meta配置-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--样式表-->
{#    <link rel="stylesheet" href="/stylesheet/materialize.min.css">#}
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:400,700" rel="stylesheet" type="text/css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/normalize.css">
{#    <link rel="stylesheet" href="/stylesheet/main.css">#}
    <link rel="stylesheet" href="/stylesheet/home.css">
    <link rel="stylesheet" href="/stylesheet/jquery.fullpage.css">

    <style>

        html,button,input,select,textarea{
            font-family: 'Microsoft Yahei',"微软雅黑", sans-serif; !important
        }

        body{
            background-color: #f5f5f5;
            font-family: 'Microsoft Yahei',"微软雅黑", sans-serif; !important
        }
    </style>
    <title>租房网demo</title>
</head>
<body>

<div class="container">
    <div class="st-container">
        <!-- Nav begin -->
        <input type="radio" name="radio-set" checked="checked" id="st-control-1">
        <a href="#st-panel-1">工作地搜索</a>
        <input type="radio" name="radio-set" id="st-control-2">
        <a href="#st-panel-2">居住地搜索</a>
        <input type="radio" name="radio-set" id="st-control-3">
        <a href="#st-panel-3">关于知屋</a>
        <input type="radio" name="radio-set" id="st-control-4">
        <a href="#st-panel-4">关于知屋</a>
        <input type="radio" name="radio-set" id="st-control-5">
        <a href="#st-panel-5">登陆/注册</a>
        <!-- Nav end  Content begin -->
        <div class="st-scroll">
            <div class="section st-panel st-color" id="st-panel-1">
{#                <div class="st-desc" data-icon="H"></div>#}
                <div class="nav">
                    <div class="company-title nav-left nav-item">知屋</div>
                    <div class="index-btn btn-login nav-right nav-item">注册/登陆</div>
                    <div class="index-btn btn-console nav-right nav-item"><a href="{% url 'client_back' %}" target="_blank">我的后台</a></div>
                </div>
                <div class="st-content">
                    <form class="index-panel" id="work-panel" action="/work_search" method="get">
                        <div class="title">寻房启事</div>
                        <div class="content" id="work-search">
                            &nbsp&nbsp&nbsp&nbsp我的工作地点在
                            <input type="text" class="form-control" name="work_location" id="work_location" style="width:350px;"/>，
                            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                            我想通过
                            <select class="form-control" name="way" id="way">
                                <option value="walk">步行</option>
                                <option value="bus">公交</option>
                                <option value="drive">驾车</option>
                            </select>
                            的方式，在
                            <select class="form-control" name="time" id="time">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select>
                            分钟内到达以上地点。
                            <input type="hidden" name="status" id="work_status" value="rent">
                            <input type="hidden" name="lng" id="work_lng"/>
                            <input type="hidden" name="lat" id="work_lat"/>


                        </div>

                        <button type="submit" class="btn-search">
                            <span class="glyphicon glyphicon-search"></span>
                            搜索房源
                        </button>
                        <span id="search-in-home">按照居住地搜索？</span>
                    </form>

                </div>
            </div>
            <div class="section st-panel st-color" id="st-panel-2">
{#                <div class="st-desc" data-icon="2"></div>#}
                <div class="nav">
                    <div class="company-title nav-left nav-item">知屋</div>
                    <div class="index-btn btn-login nav-right nav-item">注册/登陆</div>
                    <div class="index-btn btn-console nav-right nav-item"><a href="{% url 'client_back' %}" target="_blank">我的后台</a></div>
                </div>
                <div class="st-content">

                    <form class="index-panel" id="home-panel" action="/home_search" method="get">
                        <div class="title">寻房启事</div>

                        <div class="content" id="home-search">
                            <!--我想住在-->
                            <!--<div class="space">-->

                            <!--</div>-->
                            <!--附近-->


                            &nbsp&nbsp&nbsp&nbsp
                            我想住在
                            <input type="text" class="form-control" name="home_location" id="home_location" style="width:350px;"/>
                            <div id="searchResultHomePanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                            附近。
                            <input type="hidden" name="status" id="home_status" value="rent">
                            <input type="hidden" name="lng" id="home_lng"/>
                            <input type="hidden" name="lat" id="home_lat"/>

                        </div>

                        <button type="submit" class="btn-search btn-get">
                            <span class="glyphicon glyphicon-search"></span>
                            搜索房源
                        </button>
                        <span id="search-in-work">按照工作地搜索？</span>
                    </form>
                </div>
            </div>
            <div class="section st-panel" id="st-panel-3">
                <div class="st-desc" data-icon="K"></div>
                <h2>知屋</h2>
                <div class="st-content">我们知道、懂得每一间屋子</div>
            </div>
            <div class="section st-panel st-color" id="st-panel-4">
                <div class="st-desc" data-icon="S"></div>
                <div class="st-content" style="top:25%;width:80%;left:10%;">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">
                          <div class="card">
                            <div class="card-image">
                              <img src="/resource/card.jpg">
                              <span class="card-title">知屋</span>
                            </div>
                            <div class="card-content">
                              <p>根据工作地点行程，独一无二的搜索</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                          <div class="card">
                            <div class="card-image">
                              <img src="/resource/card.jpg">
                              <span class="card-title">知屋</span>
                            </div>
                            <div class="card-content">
                              <p>根据工作地点行程，独一无二的搜索</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-xs-12 col-md-4">
                          <div class="card">
                            <div class="card-image">
                              <img src="/resource/card.jpg">
                              <span class="card-title">知屋</span>
                            </div>
                            <div class="card-content">
                              <p>根据工作地点行程，独一无二的搜索</p>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section st-panel" id="st-panel-5">
                <div class="st-desc" data-icon="]"></div>
                <div class="st-content">
                   <form class="form-horizontal" action="{% url 'admin_login' %}" method="post">

                        <div class="form-group">
                            <label for="account" class="col-sm-4 control-label">账号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="account" name="account">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control">
                                <input type="hidden" class="form-control" id="password" name="password">
                            </div>
                        </div>

                        <button class="custom-login">登陆</button>

                   </form>



                </div>
            </div>
        </div>
</div>


<div id="hidden-map" style="display: none;"></div>

</body>
<!--脚本-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/jquery.fullpage.min.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gbADGzE7DryWx922MKlLKEnj"></script>

<script>
    ;(function(){


        $("#search-in-home").bind("click",function(){
            $("#st-control-2").trigger("click");
        });

        $("#search-in-work").bind("click",function(){
            $("#st-control-1").trigger("click");
        });

        $(".btn-login").bind("click",function(){
            $("#st-control-5").trigger("click");
        });

        $('.st-scroll').fullpage({
            'navigation': true
        });

        $("#fp-nav ul li a").each(function(index,item){
            item.setAttribute("num",index+1);
        });

        //check和右边导航联系
        $("input[name=radio-set]").bind("click",function(){
            var _num = Number($(this).attr("id").split("st-control-")[1]);
            $("#fp-nav ul li:nth-child("+_num+")").find("a").trigger("click");
        });

    })();
</script>

<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("hidden-map");
    map.centerAndZoom("杭州",12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
            {"input" : "work_location"
                ,"location" : map
            });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlaceForWork();
    });

    function setPlaceForWork(){
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            //work
            $("#work_lng").val(pp.lng);
            $("#work_lat").val(pp.lat);
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    function setPlaceForHome(){
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            //home
            $("#home_lng").val(pp.lng);
            $("#home_lat").val(pp.lat);
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


    var acHome = new BMap.Autocomplete(    //建立一个自动完成的对象
            {"input" : "home_location"
                ,"location" : map
            });

    acHome.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultHomePanel").innerHTML = str;
    });

    acHome.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultHomePanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlaceForHome();
    });

    $(document).mousewheel(function(event, delta){
        //每次滑动就更新右边和下方的关系

        var _num=Number($("#fp-nav ul li a.active").attr("num"));
        console.log(_num);

        $("#st-control-"+_num).trigger("click");

    });

</script>

</html>