<!--extentds-->
{% extends 'base.html' %}

<!--title-->
{% block title %}租房网demo{% endblock %}

<!--sp_header-->
{% block sp_header %}
<style>
    body{
        background: white;
        width:100%;
        height:100%;
    }

    .form-control{
        display: inline-block;
        width:100px;
    }
</style>
{% endblock %}

<!--content-->
{% block content %}
<div id="index-container">
    <!--<img src="resource/indexback.png" alt="" width="100%" height="100%"/>-->

    <div class="company-title">
        租房网
    </div>

    <form class="index-panel" id="work-panel" action="/work_search" method="get">
        <div class="title">寻房启事</div>

        <div class="content" id="work-search">



            &nbsp&nbsp&nbsp&nbsp我的工作地点在
            <input type="text" class="form-control" name="work_location" id="work_location"/>，
            我想通过
            <select class="form-control" name="way" id="way">
                <option value="walk">步行</option>
                <option value="bus">公交</option>
                <option value="drive">驾车</option>
            </select>
            的方式，在
            <!--<input class="form-control" type="text" name="time" id="time"/>-->
            <select class="form-control" name="time" id="time">
                <option value="10">10分钟</option>
                <option value="15">15分钟</option>
                <option value="30">30分钟</option>
            </select>
            的时间内到达公司。


        </div>

        <button type="submit" class="btn-search">
            <span class="glyphicon glyphicon-search"></span>
            搜索房源
        </button>
        <span id="search-in-home">按照居住地搜索？</span>
    </form>


    <form class="index-panel" id="home-panel" action="/home_search" method="get">
        <div class="title">寻房启事</div>

        <div class="content" id="home-search">
            <!--我想住在-->
            <!--<div class="space">-->

            <!--</div>-->
            <!--附近-->


            &nbsp&nbsp&nbsp&nbsp
            我想住在
            <input type="text" class="form-control" name="home_location" id="home_location"/>
            附近。

        </div>

        <button type="submit" class="btn-search btn-get">
            <span class="glyphicon glyphicon-search"></span>
            搜索房源
        </button>
        <span id="search-in-work">按照工作地搜索？</span>
    </form>
</div>



{% endblock %}

<!--sp_script-->
{% block sp_script %}
<script>
    $(function(){
        $("#search-in-home").bind("click",function(){
            $("#work-panel").hide().css("left","60%");
            $("#home-panel").show().css("left","50%");
        });

        $("#search-in-work").bind("click",function(){
            $("#home-panel").hide().css("left","60%");
            $("#work-panel").show().css("left","50%");
        });

    });
</script>
{% endblock %}
