<!--extentds-->
{% extends './common/baseForBack.html' %}

<!--title-->
{% block title %}发布新房源{% endblock %}

<!--sp_header-->
{% block sp_header %}

{% endblock %}

<!--content-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10" id="lists">
            <div class="section" id="step1">
                <div class="title-l1">第一步</div>
                <div class="section-content">
                    <form class="form-horizontal" id="step1-form" dest-save="/" dest-submit="/">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">小区地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control inline-input" id="addr_xiaoqu" name="addr_xiaoqu"/>
                                小区名称
                                <input type="text" class="form-control inline-input" id="addr_building" name="addr_building"/>
                                幢
                                <input type="text" class="form-control inline-input" id="addr_unit" name="addr_unit"/>
                                单元
                                <input type="text" class="form-control inline-input" id="addr_floor" name="addr_floor"/>
                                楼层
                                <input type="text" class="form-control inline-input" id="addr_room" name="addr_room"/>
                                室
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="payway" class="col-sm-2 control-label">租金/付款方式</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control inline-input" id="keeper-add-name">元/月
                                <select name="payway" id="payway" class="form-control inline-input">
                                    <!--<option value="">押金方式</option>-->
                                    <option value="ya1fu1">押一付一</option>
                                    <option value="ya1fu2">押一付二</option>
                                    <option value="ya1fu3">押一付三</option>
                                    <option value="ya2fu1">押二付一</option>
                                    <option value="ya2fu2">押二付二</option>
                                    <option value="ya2fu3">押二付三</option>
                                    <option value="fu6">半年付</option>
                                    <option value="fu12">年付</option>
                                    <option value="discuss">面议</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">房屋户型</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control inline-input" id="type_room" name="type_room"/>
                                室
                                <input type="text" class="form-control inline-input" id="type_livingroom" name="type_livingroom"/>
                                厅
                                <input type="text" class="form-control inline-input" id="type_toilet" name="type_toilet"/>
                                卫
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="stay_intime" class="col-sm-2 control-label">最早可入住时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="stay_intime" name="stay_intime"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">随时可看</label>
                            <div class="col-sm-10">
                                <label for="see_yes" class="radio-inline">
                                    <input type="radio" name="see" id="see_yes"/>
                                    是
                                </label>

                                <label for="see_no" class="radio-inline">
                                    <input type="radio" name="see" id="see_no"/>
                                    否
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success btn-save btn-post" data-type="save">保存</button>
                                <button class="btn btn-info btn-submit btn-post" data-type="submit">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="section" id="step2">
                <div class="title-l1">第二步</div>
                <div class="section-content">
                    <div class="section">
                        <form class="form-horizontal" id="step2-form" dest-save="/" dest-submit="/">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上传照片</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="photo_upload">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success btn-save btn-post" data-type="save">保存</button>
                                    <button class="btn btn-info btn-submit btn-post" data-type="submit">发布</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="section" id="step3">
                <div class="title-l1">第三步</div>
                <div class="section-content">
                    <div class="section">
                        <form class="form-horizontal" id="step3-form" dest-save="/" dest-submit="/">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">楼层</label>
                                <div class="col-sm-10">
                                    <select name="floor_level" id="floor_level" class="form-control inline-input">
                                        <option value="low">低</option>
                                        <option value="mid">中</option>
                                        <option value="high">高</option>
                                    </select>/
                                    <input type="text" class="form-control inline-input" id="total_floor" name="total_floor">层
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">电梯</label>
                                <div class="col-sm-10">
                                    <label for="elevator_yes" class="radio-inline">
                                        <input type="radio" name="elevator" id="elevator_yes"/>
                                        有电梯
                                    </label>

                                    <label for="elevator_no" class="radio-inline">
                                        <input type="radio" name="elevator" id="elevator_no"/>
                                        无电梯
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">房屋配置</label>
                                <div class="col-sm-10">
                                    <label for="canzhuo" class="checkbox-inline">
                                        <input type="checkbox" name="canzhuo" id="canzhuo"/>
                                        餐桌
                                    </label>

                                    <label for="sofa" class="checkbox-inline">
                                        <input type="checkbox" name="sofa" id="sofa"/>
                                        沙发
                                    </label>

                                    <label for="desk" class="checkbox-inline">
                                        <input type="checkbox" name="desk" id="desk"/>
                                        书桌
                                    </label>

                                    <label for="chair" class="checkbox-inline">
                                        <input type="checkbox" name="chair" id="chair"/>
                                        椅子
                                    </label>

                                    <label for="closet" class="checkbox-inline">
                                        <input type="checkbox" name="closet" id="closet"/>
                                        衣柜
                                    </label>

                                    <label for="bed" class="checkbox-inline">
                                        <input type="checkbox" name="bed" id="bed"/>
                                        床
                                    </label>

                                    <label for="aircon" class="checkbox-inline">
                                        <input type="checkbox" name="aircon" id="aircon"/>
                                        空调
                                    </label>

                                    <label for="washer" class="checkbox-inline">
                                        <input type="checkbox" name="washer" id="washer"/>
                                        洗衣机
                                    </label>

                                    <label for="waterheater" class="checkbox-inline">
                                        <input type="checkbox" name="waterheater" id="waterheater"/>
                                        热水器
                                    </label>

                                    <label for="refregister" class="checkbox-inline">
                                        <input type="checkbox" name="refregister" id="refregister"/>
                                        冰箱
                                    </label>

                                    <label for="tv" class="checkbox-inline">
                                        <input type="checkbox" name="tv" id="tv"/>
                                        电视机
                                    </label>

                                    <label for="cookerhood" class="checkbox-inline">
                                        <input type="checkbox" name="cookerhood" id="cookerhood"/>
                                        油烟机
                                    </label>

                                    <label for="gascooker" class="checkbox-inline">
                                        <input type="checkbox" name="gascooker" id="gascooker"/>
                                        燃气灶
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">房源描述</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label for="original_house_type" class="col-sm-2 control-label">此房原户型</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="original_house_type" name="original_house_type">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="decorate_level" class="col-sm-2 control-label">装修档次</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="decorate_level" name="decorate_level">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="config_level" class="col-sm-2 control-label">房屋配置如何</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="config_level" name="config_level">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="can_cook" class="col-sm-2 control-label">是否可以做饭</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="can_cook" name="can_cook">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="lighting" class="col-sm-2 control-label">采光</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="lighting" name="lighting">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ventilate" class="col-sm-2 control-label">通风</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="ventilate" name="ventilate">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="noise" class="col-sm-2 control-label">噪声</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="noise" name="noise">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="landlord_req" class="col-sm-2 control-label">房东要求</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="landlord_req" name="landlord_req">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="fit_people" class="col-sm-2 control-label">适宜居住人群</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="fit_people" name="fit_people">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">租客评论</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <label for="house_comment" class="col-sm-2 control-label">对房屋的评价</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="house_comment" name="house_comment">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="community_comment" class="col-sm-2 control-label">对小区的评价</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="community_comment" name="community_comment">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="landlord_comment" class="col-sm-2 control-label">对房东的评价</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="landlord_comment" name="landlord_comment">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-success btn-save btn-post" data-type="save">保存</button>
                                    <button class="btn btn-info btn-submit btn-post" data-type="submit">发布</button>
                                    <button class="btn btn-default btn-preview">预览</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="section" id="keeper-list">
                <!--这一部分应该是自动生成的-->
                <div class="title-l1">第四步</div>
                <div class="section-content">
                    <div class="section" id="keeper-add">
                        <!--<form class="form-horizontal" id="keeper-add-form">-->
                            <!--<div class="form-group">-->
                                <!--<label for="keeper-add-account" class="col-sm-2 control-label">小区所在商圈</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" id="keeper-add-account">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="keeper-add-account" class="col-sm-2 control-label">小区属性</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" id="keeper-add-account">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="keeper-add-account" class="col-sm-2 control-label">成年限</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" id="keeper-add-account">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="keeper-add-account" class="col-sm-2 control-label">小区档次规模</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" id="keeper-add-account">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="keeper-add-account" class="col-sm-2 control-label">安保</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" id="keeper-add-account">-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<div class="col-sm-offset-2 col-sm-10">-->
                                    <!--<button type="submit" class="btn btn-success">保存</button>-->
                                    <!--<button type="submit" class="btn btn-info">发布</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

<!--sp_script-->
{% block sp_script %}

<script>
    ;(function(){

        //为新增form,save或者submit添加ajax
        $(".btn-post").bind("click",function(e){
            e.preventDefault();
            var form = $(this).parents("form");
            var dest;

            if($(this).data("type")==="save"){
                dest=form.attr("dest-save");
            }else{
                dest=form.attr("dest-submit");
            }

            var content=form.serialize();

            $.post(
                dest,
                content,
                function(data){
                    if(data.status==200){
                        console.log("post success");
                    }else{
                        console.log("post failed");
                    }
                }
            )
            .error(function(){
                console.log("error");
            });
        });

        $("#stay_intime").datepicker({dateFormat:"yy-mm-dd"});
    })();
</script>

{% endblock %}