<!--extentds-->
{% extends './common/base.html' %}

<!--title-->
{% block title %}搜索页面{% endblock %}

<!--sp_header-->
{% block sp_header %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link href="//cdn.bootcss.com/slick-carousel/1.5.8/slick.min.css" rel="stylesheet">

<style>

    nav ul a,
    nav .brand-logo {
      color: #444;
    }
</style>
{% endblock %}

<!--content-->
{% block content %}

<div class="search">
    <div class="search-content">
        <form class="search-condition form-horizontal">

            <div class="row price-row form-group form-listen">
                <label class="search-category col s2">价格：</label>

                <div class="col s10">


                    <input class="with-gap" type="radio" checked name="price" id="noprice"/>
                    <label for="noprice" class="checkbox-inline">不限</label>


                    <input class="with-gap" type="radio" name="price" id="1000to1500"/>
                    <label for="1000to1500" class="checkbox-inline">1000-1500(含)</label>

                    <input class="with-gap" type="radio" name="price" id="1500to2000"/>
                    <label for="1500to2000" class="checkbox-inline">
                        1500-2000(含)
                    </label>

                    <input class="with-gap" type="radio" name="price" id="2000to3000"/>
                    <label for="2000to3000" class="checkbox-inline">
                        2000-3000(含)
                    </label>


                    <input  class="with-gap" type="radio" name="price" id="3000to5000"/>
                    <label for="3000to5000" class="checkbox-inline">
                        3000-5000(含)
                    </label>


                    <input class="with-gap" type="radio" name="price" id="5000to8000"/>
                    <label for="5000to8000" class="checkbox-inline">
                        5000-8000(含)
                    </label>

                    <input class="with-gap" type="radio" name="price" id="8000toh"/>
                    <label for="8000toh" class="checkbox-inline">
                        8000以上
                    </label>
                </div>

            </div>

            <hr/>

            <div class="row type-row form-group form-listen">
                <label class="search-category col s2">户型：</label>

                <div class="col s10">

                    <input class="with-gap" type="radio" checked name="type" id="notype"/>
                    <label for="notype" class="checkbox-inline">
                        不限
                    </label>

                    <input class="with-gap" type="radio" name="type" id="1room"/>
                    <label for="1room" class="checkbox-inline">
                        1室
                    </label>


                    <input class="with-gap" type="radio" name="type" id="2room"/>
                    <label for="2room" class="checkbox-inline">
                        2室
                    </label>


                    <input class="with-gap" type="radio" name="type" id="3room"/>
                    <label for="3room" class="checkbox-inline">
                        3室
                    </label>


                    <input class="with-gap" type="radio" name="type" id="4roomup"/>
                    <label for="4roomup" class="checkbox-inline">
                        4室（含以上）
                    </label>

                </div>


            </div>


            <hr/>

            <div class="row way-row form-group form-listen">
                <label class="search-category col s2">获取途径：</label>

                <div class="col s10">
                    <input class="with-gap" type="radio" checked name="acheive_way" id="noway"/>
                    <label for="noway" class="checkbox-inline">
                        不限
                    </label>


                    <input class="with-gap" type="radio" name="acheive_way" id="mansion"/>
                    <label for="mansion" class="checkbox-inline">
                        物业公司房源
                    </label>


                    <input class="with-gap" type="radio" name="acheive_way" id="area"/>
                    <label for="area" class="checkbox-inline">
                        0中介费品牌公寓
                    </label>
                </div>

                <span id="more-way-btn" class="btn">更多&nbsp;<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></span>
                <span id="less-way-btn" class="btn">收起&nbsp;<span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></span>
            </div>

            <hr/>

            <div id="more-way-section">

                <div class="row look-row form-group form-listen">
                    <label class="search-category col s2">看房：</label>

                    <div class="col s10">
                        <input class="with-gap" type="radio" checked name="lookable" id="nolook"/>
                        <label for="nolook" class="checkbox-inline">
                            不限
                        </label>


                        <input class="with-gap" type="radio" name="lookable" id="freelook"/>
                        <label for="freelook" class="checkbox-inline">
                            随时可看
                        </label>


                        <input class="with-gap" type="radio" name="lookable" id="appolook"/>
                        <label for="appolook" class="checkbox-inline">
                            预约可看
                        </label>
                    </div>

                </div>

                <hr/>

                <div class="row time-row form-group form-listen">
                    <label class="search-category col s2">入住时间：</label>

                    <div class="col s10">
                        <input type="date" class="datepicker" style="margin-left:10px;width:200px;" id="intime"/>
                    </div>

                </div>


                <hr/>

                <div class="row photo-row form-group form-listen">
                    <label class="search-category col s2">是否有电梯：</label>

                    <div class="col s10">
                        <input class="with-gap" type="radio" checked name="elevator" id="noelevator"/>
                        <label for="noelevator" class="checkbox-inline">
                            不限
                        </label>

                        <input class="with-gap" type="radio" name="elevator" id="elevator-yes"/>
                        <label for="elevator-yes" class="checkbox-inline">
                            有电梯
                        </label>

                        <input class="with-gap" type="radio" name="elevator" id="elevator-no"/>
                        <label for="elevator-no" class="checkbox-inline">
                            无电梯
                        </label>
                    </div>

                </div>

                <hr/>

                <div class="row elevator-row form-group form-listen">
                    <label class="search-category col s2">是否有照片：</label>

                    <div class="col s10">
                        <input class="with-gap" type="radio" checked name="photo" id="nophoto"/>
                        <label for="nophoto" class="checkbox-inline">
                            不限
                        </label>

                        <input class="with-gap" type="radio" name="photo" id="photo-yes"/>
                        <label for="photo-yes" class="checkbox-inline">
                            有照片
                        </label>


                        <input class="with-gap" type="radio" name="photo" id="photo-no"/>
                        <label for="photo-no" class="checkbox-inline">
                            无照片
                        </label>
                    </div>

                </div>


            </div>



        </form>
        <div class="search-result">
            <div class="row" id="search-result-container">

            </div>
        </div>
    </div>
    <div class="search-map" id="search-map">
        <div id="allmap" style="height:100%"></div>
    </div>

    <div id="ifMapSearch">
        <p>
          <input type="checkbox" id="map_search_check" />
          <label for="map_search_check" name="map_search_check">移动地图时搜索</label>
        </p>
    </div>
</div>

{% endblock %}

<!--sp_script-->
{% block sp_script %}

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//cdn.bootcss.com/slick-carousel/1.5.8/slick.min.js"></script>

{% verbatim %}
<script id="house-item" type="text/x-jquery-tmpl">
    {{if isValid&&timeValid}}
    <div class="col s12 m6 l6">
      <div class="card" data-target="${roomNumber}">
        <a class="link-cover" href="/room_detail/?roomNumber=${roomNumber}" target="_blank">link</a>
        <div class="fade card-image" data-target="${roomNumber}">
            {{each images}}
                <div><div class="image"><img src="${$value}" width="100%"/></div></div>
            {{/each}}
        </div>
        <div class="card-content">
          <p>${type_room}室${type_livingroom}厅${type_toilet}卫<br/>${price}/月</p>
        </div>
        <div class="btn-collect {{if collected == true}} active {{/if}}" data-target="${roomNumber}">
            <i class="small material-icons left">grade</i>
        </div>
      </div>
    </div>
    {{/if}}
</script>
{% endverbatim %}



<script type="text/javascript">
     $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
         format: 'yyyy-mm-dd',
        formatSubmit: 'yyyy-mm-dd'
      });

//    接受房源数据，并作初始化处理
    var rawData={{ rooms|safe }};

//    百度地图初始化

    var  search_lng={{ lng|safe }};
    var  search_lat={{ lat|safe }};

     var lng_max={{ lng_max|safe }};
     var lng_min={{ lng_min|safe }};
     var lat_max={{ lat_max|safe }};
     var lat_min={{ lat_min|safe }};

     var border_points=[
         new BMap.Point(lng_max,lat_max),
         new BMap.Point(lng_min,lat_min)
     ];

     var center_lng = (lng_max+lng_min)/2;
     var center_lat = (lat_max+lat_min)/2;

    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(center_lng,center_lat), 10);  // 初始化地图,设置中心点坐标和地图级别
    map.setViewport(border_points);　　
    map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
    map.setCurrentCity("杭州");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

//    添加控件
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);

{#    var bs = map.getBounds();   //获取可视区域#}
{#	var bssw = bs.getSouthWest();   //可视区域左下角#}
{#	var bsne = bs.getNorthEast();   //可视区域右上角#}
{#	alert("当前地图可视范围是：" + bssw.lng + "," + bssw.lat + "到" + bsne.lng + "," + bsne.lat);#}



//    复杂的自定义覆盖物
    function ComplexCustomOverlay(point, text, id){
        this._point = point;
        this._text = text;
        this._id = id;
    }
    ComplexCustomOverlay.prototype = new BMap.Overlay();
    ComplexCustomOverlay.prototype.initialize = function(map){
        this._map = map;
        var div = this._div = document.createElement("div");
        div.id="overlay"+this._id;
        div.style.position = "absolute";
        div.style.zIndex = BMap.Overlay.getZIndex(this._point.lat);
        div.style.backgroundColor = "#EE5D5B";
        div.style.border = "1px solid #BC3B3A";
        div.style.color = "white";
//        div.style.height = "18px";
        div.style.padding = "2px";
        div.style.lineHeight = "18px";
        div.style.whiteSpace = "nowrap";
        div.style.MozUserSelect = "none";
        div.style.fontSize = "12px";
        var span = this._span = document.createElement("span");
        div.appendChild(span);
        span.appendChild(document.createTextNode(this._text.toString()+"/月"));
        var that = this;

        var arrow = this._arrow = document.createElement("div");
        arrow.id="arrow"+this._id;
        arrow.style.background = "url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png) no-repeat";
        arrow.style.position = "absolute";
        arrow.style.width = "11px";
        arrow.style.height = "10px";
        arrow.style.top = "22px";
        arrow.style.left = "10px";
        arrow.style.overflow = "hidden";
        div.appendChild(arrow);

//        div.onmouseover = function(){
//            this.style.backgroundColor = "#6BADCA";
//            this.style.borderColor = "#0000ff";
//            this.getElementsByTagName("span")[0].innerHTML = that._overText;
//            arrow.style.backgroundPosition = "0px -20px";
//        };
//
//        div.onmouseout = function(){
//            this.style.backgroundColor = "#EE5D5B";
//            this.style.borderColor = "#BC3B3A";
//            this.getElementsByTagName("span")[0].innerHTML = that._text;
//            arrow.style.backgroundPosition = "0px 0px";
//        };

        div.onclick = function(){
            window.open("/room_detail?roomNumber="+this.id.split("overlay")[1]);
        };

        map.getPanes().labelPane.appendChild(div);

        return div;
    };

    ComplexCustomOverlay.prototype.draw = function(){
        var map = this._map;
        var pixel = map.pointToOverlayPixel(this._point);
        this._div.style.left = pixel.x - parseInt(this._arrow.style.left) + "px";
        this._div.style.top  = pixel.y - 30 + "px";
    };

//    页面初始化
    $("#more-way-section").hide();
    $("footer").remove();

    $("#more-way-btn").bind("click",function(){
        $(this).hide();
        $("#less-way-btn").show();
        $("#more-way-section").slideDown();
    });

    $("#less-way-btn").bind("click",function(){
        $(this).hide();
        $("#more-way-btn").show();
        $("#more-way-section").slideUp();
    });



</script>

<script>
    $(function(){

//        页面初始化搜索结果以及地图



        function freshResult(){
{#            $(".carousel").carousel('pause');#}
            //TODO:确定中心点和显示范围

            //清空并添加结果框
            $("#search-result-container").empty();
            $("#house-item").tmpl(rawData).appendTo('#search-result-container');

            //添加轮播
            $('.fade').slick({
              infinite: true,
              speed: 500,
              fade: true,
              cssEase: 'linear'
            });

            //清空标记并添加新筛选过的标记
            map.clearOverlays();
            for(var i=0;i<rawData.length;i++){
                if(rawData[i].timeValid && rawData[i].isValid){
                    var myCompOverlay = new ComplexCustomOverlay(new BMap.Point(rawData[i].lng,rawData[i].lat), rawData[i].price,rawData[i].roomNumber);
                    map.addOverlay(myCompOverlay);
                }
            }
        }


    {% if isWork == True %}
        var search_time={{ time|safe }};

        var transitArr=[];

{#        var endFlag=false;#}
        var endCnt=rawData.length;

        for(var i=0;i<rawData.length;i++){

{#            if(i==rawData.length-1){#}
{#                endFlag=true;#}
{#            }#}

            //检查时间
                {% if way == "walk" %}
                    transitArr[i]=function(num){
                        return function(){
                            var transit=new BMap.WalkingRoute("杭州市");
                            transit.setSearchCompleteCallback(function(results){
                                if (transitArr[num].getStatus() == BMAP_STATUS_SUCCESS){
                                   var plan = results.getPlan(0);
                                    if(plan.getDuration(false)/60<=search_time){
                                        rawData[num].timeValid=true;
                                        rawData[num].isValid=true;
                                    }else{
                                        rawData[num].timeValid=false;
                                        rawData[num].isValid=false;
                                        rawData[num].usetime=plan.getDuration(false)/60;
                                    }
                                    endCnt--;
                                    if(endCnt==0){
                                        freshResult();
                                    }
                                 }

                            });
                            return transit;
                        }
                    }(i)();
                {% endif %}


                {% if way == "bus" %}
                    transitArr[i]=function(num){
                        return function(){
                            var transit=new BMap.TransitRoute("杭州市");
                            transit.setSearchCompleteCallback(function(results){
                                if (transitArr[num].getStatus() == BMAP_STATUS_SUCCESS){
                                   var plan = results.getPlan(0);
                                    if(plan.getDuration(false)/60<=search_time){
                                        rawData[num].timeValid=true;
                                        rawData[num].isValid=true;
                                    }else{
                                        rawData[num].timeValid=false;
                                        rawData[num].isValid=false;
                                        rawData[num].usetime=plan.getDuration(false)/60;
                                    }
                                    endCnt--;
                                    if(endCnt==0){
                                        freshResult();
                                    }
                                 }
                            });
                            return transit;
                        }
                    }(i)();
                {% endif %}

                {% if way == "drive" %}
                    transitArr[i]=function(num){
                        return function(){
                            var transit=new BMap.DrivingRoute("杭州市");
                            transit.setSearchCompleteCallback(function(results){
                                if (transitArr[num].getStatus() == BMAP_STATUS_SUCCESS){
                                   var plan = results.getPlan(0);
                                    if(plan.getDuration(false)/60<=search_time){
                                        rawData[num].timeValid=true;
                                        rawData[num].isValid=true;

                                    }else{
                                        rawData[num].timeValid=false;
                                        rawData[num].isValid=false;
                                        rawData[num].usetime=plan.getDuration(false)/60;
                                    }
                                    endCnt--;
                                    if(endCnt==0){
                                        freshResult();
                                    }
                                 }
                            });
                            return transit;
                        }
                    }(i)();
                {% endif %}
                transitArr[i].search(new BMap.Point(rawData[i].lng,rawData[i].lat), new BMap.Point(search_lng,search_lat));
        }
    {% else %}

        for(var i=0;i<rawData.length;i++){
            rawData[i].isValid=true;
            rawData[i].timeValid=true;
        }

        freshResult();
    {% endif %}

        //鼠标进入房源区域，会在地图上高亮
        $('#search-result-container').delegate(".card","mouseover",function(e){
            var _id= $(this).data("target");
            $("#overlay"+_id).css({
                "background-color":"#6BADCA",
                "border-color":"#0000ff"
            });

            $("#arrow"+_id).css({
                "background-position":"0px -20px"
            });
        });

        //鼠标离开房源区域，会取消高亮
        $('#search-result-container').delegate(".card","mouseout",function(e){
            var _id= $(this).data("target");
            $("#overlay"+_id).css({
                "background-color":"#EE5D5B",
                "border-color":"#BC3B3A",
            });

            $("#arrow"+_id).css({
                "background-position":"0px 0px"
            });
        });


//        搜索条件改变后重新筛选后添加

        var price_upper=-1,
            price_lower=-1,
            room_type=-1,
            achive_type=-1,
            lookable_type=-1,
            photo=-1,
            elevator=-1,
            intime=-1;


        function checkForm(){
            //根据界限变量去遍历数组，筛选内容
            for(var i=0;i<rawData.length;i++){
                rawData[i].isValid=true;
                if((price_upper!=-1&&rawData[i].price>price_upper)
                        ||(price_lower!=-1&&rawData[i].price<=price_lower)
                        ||(room_type!=-1&&rawData[i].type_room!=room_type)
                        ||(achive_type!=-1&&rawData[i].status!=achive_type)
                        ||(lookable_type!=-1&&rawData[i].see!==lookable_type)
                        ||(photo!=-1&&((typeof rawData[i].images[0] === "undefined")===photo))
                        ||(elevator!=-1&&rawData[i].elevator!==elevator)
                        ||(intime!=-1&&!checkTime(intime,rawData[i].stay_intime))){
                    rawData[i].isValid=false;
                }
            }
        }

        function checkTime(a,b){//判断a晚于（大于等于）b
            var arr1= a.split("-");
            var arr2= b.split("-");

            if(Number(arr1[0])>Number(arr2[0])){
                return true;
            }else{
                if(Number(arr1[0])==Number(arr2[0])){
                    if(Number(arr1[1])>Number(arr2[1])){
                        return true;
                    }else{
                        if(Number(arr1[1])==Number(arr2[1])){
                            if(Number(arr1[2])>Number(arr2[2])){
                                return true;
                            }else{
                                if(Number(arr1[2])==Number(arr2[2])){
                                    return true;
                                }else{
                                    return false;
                                }
                            }
                        }else{
                            return false;
                        }
                    }
                }else{
                    return false;
                }
            }
        }

        $("#intime").bind("change",function(){
            intime=$(this).val();

            checkForm();
            freshResult();
        });


        $('.form-listen input').bind('change', function(e){
            //设定搜索的界限,-1表示没有限制
            var _target= e.target;
            var _type= _target.name;

            //根据表单变换去重新设置界限变量
            switch(_type) {
                case "price":
                    if (_target.id === "noprice") {
                        //没有价格限制
                        price_upper = -1;
                        price_lower = -1;
                    } else {
                        var price_bound = _target.id.split("to");
                        price_lower = price_bound[0];
                        price_upper = price_bound[1] === "h" ? -1 : price_bound[1];
                    }
                    break;
                case "type":
                    if (_target.id === "notype") {
                        //没有房型限制
                        room_type = -1;
                    } else {
                        room_type = _target.id.split("room")[0];
                    }
                    break;
                case "acheive_way":
                    if (_target.id === "noway") {
                        //没有限制
                        achive_type = -1;
                    } else {
                        achive_type = _target.id;
                    }
                    break;
                case "elevator":
                    if (_target.id === "noelevator") {
                        //没有限制
                        elevator = -1;
                    } else {
                        elevator = _target.id==="elevator-yes"?"yes":"no";
                    }
                    break;
                case "photo":
                    if (_target.id === "nophoto") {
                        //没有限制
                        photo = -1;
                    } else {
                        photo = _target.id==="photo-yes"?true:false;
                    }
                    break;
                case "lookable":
                    if (_target.id === "nolook") {
                        //没有限制
                        lookable_type = -1;
                    } else {
                        lookable_type = _target.id==="freelook"?"yes":"no";
                    }
                    break;
                default:
                    break;
            }

            checkForm();

            //重新添加内容，并更新地图
            freshResult();
        });


        //地图拖动后重新请求房源
        map.addEventListener("dragend",mapDragHandler);

        function mapDragHandler(){

            // 判断用户勾选需求
            if(!$("#map_search_check")[0].checked){
                //没有勾选
                return false;
            }

            // 获取地图的边界
            var bounds = map.getBounds();
            var sw = bounds.getSouthWest();
            var ne = bounds.getNorthEast();

            //TODO:
            var _status;

            $.post(
                    "{% url 'map_search' %}",
                    {
                        lng_left:sw.lng,//左下角坐标
                        lat_left:sw.lat,
                        lng_right:ne.lng,//右上角坐标
                        lat_right:ne.lat,
                        status:"rent"
                    },
                    function(data){
                        if(data.code==1){
                            rawData=data.newData;
                            for(var i=0;i<rawData.length;i++){
                                rawData[i].timeValid=true;
                                rawData[i].isValid=true;
                            }
                            freshResult();
                            console.log("post success");
                        }else{
                            console.log("post failed");
                        }
                    }
            )
                    .error(function(){
                        console.log("error");
                    });

        }




    });
</script>

<script>
    $(document).ready(function(){
        $('.fade').slick({
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear'
        });
    });
</script>

{% endblock %}