  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">知屋网</h5>
          <p class="grey-text text-lighten-4">我们是一家创业的租房网站。为您提供最好的房屋交易服务。我们是一家创业的租房网站。为您提供最好的房屋交易服务。我们是一家创业的租房网站。为您提供最好的房屋交易服务。</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">网站</h5>
          <ul>
            <li><a class="white-text" href="#!">关于网站</a></li>
            <li><a class="white-text" href="#!">关于团队</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">联系我们</h5>
          <ul>
            <li><a class="white-text" href="#!">人才招聘</a></li>
            <li><a class="white-text" href="#!">商业合作</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        浙ICP报备：xxxxxx   copyright@知屋租房网
      </div>
    </div>
  </footer>