<footer>
    <div class="row">
        <div class="col-xs-4 col-md-2 col-md-offset-3">
            <h4>公司信息</h4>

            <ul>
                <li><a href="">关于</a></li>
                <li><a href="">工作机会</a></li>
                <li><a href="">条款与隐私</a></li>
                <li><a href="">发现</a></li>
            </ul>

        </div>

        <div class="col-xs-4 col-md-2">
            <h4>公司信息</h4>

            <ul>
                <li><a href="">关于</a></li>
                <li><a href="">工作机会</a></li>
                <li><a href="">条款与隐私</a></li>
                <li><a href="">发现</a></li>
            </ul>

        </div>

        <div class="col-xs-4 col-md-2">
            <h4>公司信息</h4>

            <ul>
                <li><a href="">关于</a></li>
                <li><a href="">工作机会</a></li>
                <li><a href="">条款与隐私</a></li>
                <li><a href="">发现</a></li>
            </ul>

        </div>


    </div>

    <hr style="border-top:1px solid grey;width:60%"/>

    <div class="copy-right">
        © 租房网 copyright
    </div>
</footer>