
<nav class="white" role="navigation">
    <div class="nav-wrapper">

      <a id="logo-container" href="#" class="brand-logo">知屋@租房</a>
{#        <ul class="left hide-on-med-and-down">#}
        <form class="navbar-form-work" role="search" style="float:left;margin-left:180px;height:62px;" action="{% url 'work_search' %}" method="get">
                <div class="row" style="width:750px;">
                    <input type="text" class="form-control col" name="work_location" id="work_location" value="滨江网易" placeholder="工作地点"/>
                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                    <select class="form-control col" name="way" id="way">
                        <option value="walk" selected>步行</option>
                        <option value="bus">公交</option>
                        <option value="drive">驾车</option>
                    </select>

                    <select class="form-control col" name="time" id="time">
                        <option value="5" selected>5分钟</option>
                        <option value="10" selected>10分钟</option>
                        <option value="15" selected>15分钟</option>
                        <option value="30" selected>30分钟</option>
                        <option value="60" selected>1小时</option>
                    </select>

                    <select class="form-control col" name="status" id="status">
                        <option value="rent" selected>租房</option>
                        <option value="sale" selected>买房</option>
                    </select>

                    <input type="hidden" name="lng" id="work_lng"/>
                    <input type="hidden" name="lat" id="work_lat"/>
                    <button type="submit" class="btn" style="margin-left:20px;margin-bottom: 10px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;搜索</button>
                    <span id="searched-in-home" style="margin-left:10px;color:#ADADAD;">改用居住地搜索</span>
                </div>
            </form>

            <form class="navbar-form navbar-left navbar-form-home" role="search" style="display: none;float:left;margin-left:180px;height:62px;" action="{% url 'home_search' %}" method="get">
                <div class="row" style="width:750px;">
                    <input type="text" class="form-control col" name="home_location" id="home_location" value="滨江网易" placeholder="居住地点"/>
                    <div id="searchResultHomePanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                    <select class="form-control col" name="status" id="status">
                        <option value="rent" selected>租房</option>
                        <option value="sale" selected>买房</option>
                    </select>
                    <input type="hidden" name="lng" id="home_lng"/>
                    <input type="hidden" name="lat" id="home_lat"/>
                    <button type="submit" class="btn" style="margin-left:20px;margin-bottom: 10px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp;搜索</button>
                    <span id="searched-in-work" style="margin-left:10px;color:#ADADAD;">改用工作地点搜索</span>
                </div>

            </form>
{#      </ul>#}

      <ul class="right hide-on-med-and-down">
          {% if user == "" %}
                <li><a href="#modal1" class="modal-trigger"><i class="large material-icons left">perm_identity</i>登陆/注册</a></li>
          {% else %}

              <li><a href="#">{{ user }}</a></li>
              <li><a href="{% url 'client_back' %}"><i class="large material-icons left">receipt</i>选房清单</a></li>
          {% endif %}



{#        <li><a href="#"><i class="large material-icons left">settings</i>我的后台</a></li>#}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"><i class="large material-icons left">perm_identity</i>登陆/注册</a></li>
        <li><a href="#"><i class="large material-icons left">receipt</i>选房清单</a></li>
{#        <li><a href="#"><i class="large material-icons left">settings</i>我的后台</a></li>#}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>


<div id="hidden-map" style="display: none;"></div>



{##}
{##}
{#<nav class="navbar navbar-default" style="padding:8px;">#}
{#    <div class="container-fluid">#}
{#        <!-- Brand and toggle get grouped for better mobile display -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">知屋@租房网</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#            <!--<ul class="nav navbar-nav">-->#}
{#                <!--&lt;!&ndash;<li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>&ndash;&gt;-->#}
{#                <!--<li>-->#}
{##}
{#                <!--</li>-->#}
{#            <!--</ul>-->#}

{##}
{##}
{##}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <!--<li><a href="#">选房清单</a></li>-->#}
{#                <!--<li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>-->#}
{#                <!--<li><a href="#" data-toggle="modal" data-target="#login-modal">登陆</a></li>-->#}
{##}
{#                <li><a href="#"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp;选房清单</a></li>#}
{#                <li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;订制清单</a></li>#}
{#                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;我的后台</a></li>#}
{##}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}
  <!-- Modal Trigger -->




  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>立刻注册</h4>
      <div class="row">
        <form class="col s12" id="modal-form" action="{% url 'user_login' %}">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">手机号</i>
              <input id="icon_telephone" type="tel" class="validate" name="phone">
              <label for="icon_telephone">手机号</label>
            </div>
          </div>
            <button type="submit" id="modal-submit">登陆</button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">登陆/注册</a>
    </div>
  </div>