<!--脚本-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gbADGzE7DryWx922MKlLKEnj"></script>
<script src="//cdn.bootcss.com/slick-carousel/1.5.8/slick.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/jquery.tmpl.min.js"></script>
<script src="/js/jquery.md5.js"></script>

<script>
    ;(function(){

        $.ajaxSetup({cache:false});

        $('select').material_select();

        $(document).delegate("input[type=password]","change",function(){
           $(this).next().val($.md5($(this).val()));
        });

        $("#status-sale").bind("click",function(){
            $("#status-sale").hide();
            $("#status-rent").show();
            $("#status").val("rent");
        });

        $("#status-rent").bind("click",function(){
            $("#status-rent").hide();
            $("#status-sale").show();
            $("#status").val("sale");
        });

        $("#home-status-sale").bind("click",function(){
            $("#home-status-sale").hide();
            $("#home-status-rent").show();
            $("#home-status").val("rent");
        });

        $("#home-status-rent").bind("click",function(){
            $("#home-status-rent").hide();
            $("#home-status-sale").show();
            $("#home-status").val("sale");
        });


        $("#searched-in-home").bind("click",function(){
            $(".navbar-form-work").hide();
            $(".navbar-form-home").show();
        });

        $("#searched-in-work").bind("click",function(){
            $(".navbar-form-home").hide();
            $(".navbar-form-work").show();
        });

        $('.modal-trigger').leanModal();

        //收藏功能
        $(document).delegate(".btn-collect","click",function(e){
            e.preventDefault();
            var _id=$(this).data("target");
            var that=$(this);

            $.post(
                "{% url 'room_collection' %}",
                {roomNumber:_id},
                function(data){
                    if(data.code==1){
                        if(data.msg=="收藏成功"){
                            that.addClass("active");
                        }else{
                            that.removeClass("active");
                        }
                        alert(data.msg);
                    }else{
                        if(data.msg){
                            alert(data.msg);
                            if(data.msg=="没有登陆"){
                                $('#modal1').openModal();
                            }
                        }
                    }
                }
            )
            .error(function(){
                console.log("error");
            });
        });

        $(document).delegate("#modal-submit","click",function(e){
            e.preventDefault();

            var content=$("#modal-form").serialize();

            $.post(
                "{% url 'user_login' %}",
                content,
                function(data){
                    if(data.code==1){
                        window.location.reload();
                    }else{
                        console.log("post failed");
                        if(data.msg){
                            alert(data.msg);
                        }
                    }
                }
            )
            .error(function(){
                console.log("error");
            });
        });

    })();

</script>

<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("hidden-map");
    map.centerAndZoom("杭州",12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
            {"input" : "work_location"
                ,"location" : map
            });
{#    document.getElementById("work_location").value="{{ search_condition_for_js.work_location|safe|default:"work" }}";#}
    {% if search_condition.type == "work" %}
        ac.setInputValue("{{ location|safe}}");
    {% endif %}

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlaceForWork();
    });

    function setPlaceForWork(){
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            //work
            $("#work_lng").val(pp.lng);
            $("#work_lat").val(pp.lat);
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    function setPlaceForHome(){
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            //home
            $("#home_lng").val(pp.lng);
            $("#home_lat").val(pp.lat);
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


    var acHome = new BMap.Autocomplete(    //建立一个自动完成的对象
            {"input" : "home_location"
                ,"location" : map
            });

{#    document.getElementById("home_location").value="{{ search_condition_for_js.home_location|safe|default:"home" }}";#}
    {% if search_condition.type == "home" %}
        acHome.setInputValue({{ location|safe }});
    {% endif %}
    acHome.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultHomePanel").innerHTML = str;
    });

    acHome.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultHomePanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlaceForHome();
    });

</script>