<!--脚本-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/jquery.tmpl.min.js"></script>
<script src="/js/icheck.min.js"></script>

<script>
    ;(function(){
        $("#searched-in-home").bind("click",function(){
            $(".navbar-form-work").hide();
            $(".navbar-form-home").show();
        });

        $("#searched-in-work").bind("click",function(){
            $(".navbar-form-home").hide();
            $(".navbar-form-work").show();
        });
    })();

</script>