<!--脚本-->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.md5.js"></script>

<script>
    ;(function(){
        $.ajaxSetup({cache:false});

        $(document).delegate("input[type=password]","focusout",function(){
           $(this).next().val($.md5($(this).val()));
        });

        //修改密码
        $("#modify-submit").bind("click",function(){

           var old_pw=$("#old_pw").val();
           var new_pw=$("#new_pw").val();
           var new_pw2=$("#new_pw2").val();

           if(!old_pw||!new_pw||!new_pw2){
               alert("请填写完全！");
               return;
           }

            if(new_pw!=new_pw2){
                alert("两次输入的新密码必须一致！");
                return;
            }

           $.post(
                    "{% url 'modify_pw' %}",
                    {
                        old_pw: $.md5(old_pw),
                        new_pw: $.md5(new_pw)
                    },
                    function(data){
                        if(data.code==1){
                            console.log("post success");
                            alert("密码修改成功！");
                        }else{
                            console.log("post failed");
                            alert("密码修改失败！");
                        }
                    }
            )
            .error(function(){
                console.log("发生错误");
            });
        });
    })();
</script>