<div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="clientBackend.html">
                我的控制台
            </a>
        </li>
        <li class="active">
            <a href="myList.html">
                选房清单
            </a>
        </li>

        <li>
            <a href="myAccount.html">
                账号管理
            </a>
        </li>

        <li>
            <a href="serviceContact.html">
                咨询客服/投诉与举报
            </a>
        </li>
    </ul>
</div>