body{
    background: white;
}


.form-alert{
    border:1px solid red;
}

.form-alert:focus{
    border:1px solid red;
    box-shadow: inset 0 1px 1px rgba(255,0,0,.075)
}

.container{
    /*margin-top:70px;*/
}

#myScrollspy{
    position:fixed;
    top:60px;
    left:10%;
}

/*.nav-stacked li a{*/
    /*background: #eee;*/
/*}*/

.second-level-menu{
    list-style: none;
}

.second-level-menu li{
    height:40px;
    padding:10px 15px;
}

.second-level-menu li a{
    text-decoration: none;

}

.section{
    padding:15px;
}

.section-content table{
    margin-top:15px;
    vertical-align: middle;
}


.section .title-l1{
    font-size:28px;
    color:#337ab7;
    border-left:3px solid cornflowerblue;
    padding-left:10px;
}

.section .title-l2{
    font-size:20px;
    color:cornflowerblue;
    margin-bottom:15px;
}


.form-inline .form-group{
    margin-top:15px;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.inline-input{
    display: inline-block;
    width:100px;
    margin-top:10px;
}

.pagination a {
    text-decoration: none;
    border: 1px solid #AAE;
    color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}

