.room-poster{
    overflow: hidden;
    height:650px;
}

.room-poster img{
    width:100%;
}

.room-title{
    height: 200px;
    background-color: white;
    border-bottom: 1px solid darkgrey;
    margin-top: -20px;
    padding: 40px;
}

.room-title .room-name{
    width:60%;
    color:grey;
    font-size:30px;
    line-height: 40px;
}

.room-title .room-location{
    width:60%;
    color:darkgray;
    font-size:18px;
    line-height: 40px;
}

.room-detail{
    margin-left:10%;
    width:50%;
}

.room-detail .small-title{
    color:#ff5a5f;
    margin:10px 0px;
    font-size:15px;
    line-height: 25px;
    font-weight: 300;
    margin-top: 30px;
}

.room-detail .item{
    display: inline-block;
    margin:10px 0;
}

.room-detail .item-label{
    color:#565a5c;
    width:200px;
    margin-left:5px;
}

.room-detail .item-content{
    color:#565a5c;
    margin-left:10px
}

.room-detail .item-tag{
    background-color: #ff5a5f;
    color:white;
    border-radius: 3px;
    height:30px;
    line-height:30px;
    padding:10px 15px;
}


.room-book{
    position: fixed;
    right:10%;
    top:100px;
    width:300px;
}

.room-book .book-price{
    background-color: rgba(0,0,0,0.5);
    height:40px;
    line-height: 40px;
    color:white;
    padding-left:15px;
}


.room-book .book-detail{
    margin:auto;
    width:80%;
}

.room-book .book-detail-wrapper {
    background-color: white;
    padding:20px 0;
}

.room-book .book-btn{
    width:240px;
}